{
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "always",
    "trailingComma": "none",
    "printWidth": 80,
    "tabWidth": 4,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "jsxBracketSameLine": false,
    "quoteProps": "consistent"
}